<div class="row">
	<div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
	<%= form_for @dish do |f| %>
		  <div class="form-group">
		  	<label for="record_type">User Group</label>
		  	<%= f.select :user_group, [["0-10"], ["10-60"], ["60+"]], {}, {class: 'select-controller'}%>
		  </div>
		  <div class="form-group">
		  	<label for="record_type">Dish Type</label>
		  	<%= f.select :dish_type, [["Italian"], ["Thailand"], ["Indian"]], {selected: params[:dish_type]}, {class: 'select-controller'}%>
		  </div>
		  <div class="form-group">
		  	<label for="record_type">Recipe Type</label>
		  	<%= f.select :recipe_type, [["Spicy"], ["Normal"], ["Tadka"]], {}, {class: 'select-controller'}%>
		  </div>
		  <%= hidden_field_tag :user_id, current_user.id %>

		  <div class="form-group mmt-credentials-btn-sec">
		  	<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<%= submit_tag "Submit", class: "btn mmt-credentials-btn mr10 mb10" %>
		  		</div>
		  	</div>
		  </div>
		<%end%>
	</div>
</div>